/* colors */

._bg-teal {
    background-color: rgb(52, 177, 138);
}
._bg-bluegrey {
    background-color: rgb(44, 66, 90);
}
._bg-grey {
    background-color: rgb(34, 47, 63);
}


hr {
    width: 10%;
}


/* INFO section */

/* ._info p {
    margin-bottom: 0;
    text-align: center;
} */

._info ._roundIcon {
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0 5px;
}
._info ._roundIcon i:first-child {
    margin-left: 0;
}
._info ._roundIcon i:last-child {
    margin-right: 0;
}