/* colors */

._bg-teal {
    background-color: rgb(52, 177, 138);
    color: #fff;
}

._bg-bluegrey {
    background-color: rgb(44, 66, 90);
    color: #fff;
}

._bg-grey {
    background-color: rgb(34, 47, 63);
    color: #fff;
}

/* hr {
    width: 10%;
} */

._star-hr, ._star-hr-dark {
    margin: 0 auto;
    font-size: 30px;
    font-weight: 900;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

._star-hr::before, ._star-hr::after {
    content: "";
    display: inline-block;
    border-top: 4px solid #fff;
    border-radius: 5px;
    margin: 0 16px;
    max-width: 20%;
    width: 100px;
}

._star-hr-dark::before, ._star-hr-dark::after {
    content: "";
    display: inline-block;
    border-top: 4px solid #000;
    border-radius: 5px;
    margin: 0 16px;
    max-width: 20%;
    width: 100px;
}

._star-hr-light::before {
    border-color: #000;
}

/* JUMBO */

._jumbo ._img-container {
    width: 300px;
    max-width: 70%;
}


/* ABOUT */

#_about button::before {
    font-family: "Font Awesome 5 Free";
    content: "\f019";
    font-weight: 900;
    margin-right: 5px;
}

/* INFO */

._info ._roundIcon {
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 0 5px;
}
._info ._roundIcon i:first-child {
    margin-left: 0;
}
._info ._roundIcon i:last-child {
    margin-right: 0;
}

._info a {
    color:rgb(52, 177, 138);
}